/*Edit navbar*/

@media (max-width: 890px) {
    .btn-edit {
        width: 100px;
    }
}

@media (max-width: 768px) {
    .btn-edit {
        width: auto;
    }
}

.bg-edit-header {
    background-color: #11cdef !important;
}

.edit-search-form {}

@media (max-width: 1020px) {
    .resFlex-column {
        flex-direction: column;
    }
    .edit-form-group {
        margin-right: 0 !important;
        margin-bottom: 15px !important;
        margin-left: 0 !important;
    }
}

.custom-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: -20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.custom-sidebar{
 z-index: 1 !important;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
  }
  
  .text-small {
    font-size: 0.9rem;
  }
  
  .messages-box,
  .chat-box {
    height: 510px;
    overflow-y: scroll;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  input::placeholder {
    font-size: 0.9rem;
    color: #999;
  }

/*custom form*/